<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Clips</title>

  <link rel="stylesheet" type="text/css" href="../public/assets/clips.css">

</head>

<body>
  <header>
    <h1></h1>
  </header>
  <nav>
    <a href="/"></a>
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="">
      {{{body}}}
    </div>
  </main>
  <dialog id="main-modal" class="modal">
    {{modal}}
  </dialog>
</body>

</html>