<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Clips</title>
  <link rel="stylesheet" type="text/css" href="../styles/clips.css" />
</head>

<body>
  <header class="main-header">
    <div>
      <h1><a href="/">Code Clips</a></h1>
    </div>
    <div>
      <a class="button no-border log-btn">Sign In</a>
    </div>
  </header>
  {{{body}}}
</body>

</html>