.container{
    margin: 5rem;
}

.post-header *{
    margin: 0;
}

.post-header a{
    text-decoration: none;
    color: inherit;
}

.post-footer{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}