/* variables  */
:root {
    --black:rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --off-white:rgba(217, 217, 217, 1);
    --grey: #424242;
    --grey-2: #6b6b6b;

    --dark-red: #aa4848;
}

@import url("https://fonts.googleapis.com/css?family=Inter:700,500");

html {
    font-family: 'Inter', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    --button-color: var(--white);
    --button-hover-color: var(--off-white);
    --button-click-color: var(--grey-2);
}

body {
    --main-bg: var(--grey);
    --bookmark-false: var(--grey-2);
    --bookmark-true: var(--dark-red);
    --log-button: var(--white);
    --arrow-buttons: var(--off-white);
    --plus-button: var(--off-white);
    --post-bg: var(--off-white);

    --header-text: var(--white);
    --post-text: var(--black);

    background-color: var(--main-bg);
}

header a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var();
}

.no-border {
    border: none !important;
}

button, .button {
    display: inline-block;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    text-decoration: none;
    padding: 1em;
    background-color: var(--button-color);
    border-radius: 12px;
}

button:active, .button:active{
    border-style: inset;
}