/* variables  */
:root {
    --black:rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --off-white:rgba(217, 217, 217, 1);
    --grey: #424242;
    --grey-2: #6b6b6b;

    --dark-red: #aa4848;

    --inter: "Inter";
}

@import url("https://fonts.googleapis.com/css?family=Inter:700,500");

header a {
    text-decoration: none;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 1em;
    background-color: white;
    border-radius: 12px;
}