*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: rgba(255, 254, 254, 0.815);
}
h1{
    font-size: 60px;
}

body{
    margin: 32px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 2px;
    width:100%;
    border-bottom: solid 1px #666;
}

.new_note_btn{
     background-color: #48abe0;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: none;
    color: aliceblue;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.5s ease;
    cursor: pointer;   
    text-align: center;
    text-decoration: none;
}
.rotate{
    transform: rotate(135deg);
    background-color: red;
}

.new_note_btn:hover{
    background-color: rgb(22, 0, 221);
   
}

.note-style{
   width: 180px;
   height: 35px;
   margin: 0 16px 16px 0;
   background-color: rgb(197, 195, 195);
   box-sizing: border-box;
   padding: 16px;
   border: none;
   border-radius: 10px;
   box-shadow: 0 0 7px rgba(102, 95, 95, 0.15);
   font-size: 16px;
   resize: none;
   height: 180px;
   display: inline-flex ;
   flex-wrap: wrap;
   }
/* 
   #save-notes-btn{
    background-color: #48abe0;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: none;
    color: aliceblue;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;
    cursor: pointer;  
   }
    */

    dialog{
        position: absolute;
        top: 25%;
        left: 25%;
        min-height: 45vh;
        min-width: 50vw;
        padding: 3.5rem;
    }
    .dialog-header{
        justify-content: right;
        display: flex;
    }
    dialog textarea{
        width: 100%;
        min-height: 40px;

    }
    dialog div{
        margin-bottom: 1rem;
    }

    .dialog-footer{
        justify-content: right;
        display: flex;
    }