/* variables  */
:root {
    --black: rgba(0, 0, 0, 1);
    --near-black: #2e2e2e;
    --white: rgba(255, 255, 255, 1);
    --off-white: rgba(217, 217, 217, 1);
    --light-grey: #a7a7a7;
    --grey: #424242;
    --grey-2: #6b6b6b;
    --dark-grey: #2e2e2e;

    --dark-red: #aa4848;
    --red: #ff0000;
    --salmon: #FA8072;
    --salmon-2: #fc5644;
    --yellowGreen: #9ACD32;
    --limeGreen: #00FF00;
    --lightGreen: #2da44e;
    --lightGreen-2: #1ac149;
    --shamrock: #009E60;
    --green: #008000;
    --cyan: #00FFFF;
    --capri: #00BFFF;
    --azure: #007FFF;
}

@import url("https://fonts.googleapis.com/css?family=Inter:700,500");

* {
    box-sizing: inherit;
}

body {
    --main-bg: var(--grey);
    --bookmark-false: var(--grey-2);
    --bookmark-true: var(--dark-red);
    --log-btn: var(--azure);
    --log-btn-text: var(--black);
    --log-btn-hover: var(--capri);
    --arrow-btn: var(--light-grey);
    --plus-btn: var(--azure);
    --plus-btn-hover: var(--capri);
    --plus-btn-text: var(--white);
    --post-bg: var(--off-white);

    --header-text: var(--white);
    --post-text: var(--black);

    background-color: var(--main-bg);
    color: var(--white);
    margin: 0;
}

html {
    font-family: 'Inter', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    --btn-color: var(--white);
    --btn-hover-color: var(--off-white);
    --btn-click-color: var(--grey-2);
}

html.scroll-disabled {
    overflow-y: hidden;
}

/* Mobile Size */
html {
    font-size: 16px;
    --arrow-padding: 10px;
}

/* Tablet Size */
@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
        --arrow-padding: 5px;
    }

    h1 {
        font-size: 3em;
    }
    /* Set edge effects for the rows */
    .scroll-box::before {
        content: '';
        pointer-events: none;
        width: calc(100vw - ((var(--arrow-padding) + 50px)* 2));
        height: 280px;
        position: absolute;
        left: calc((var(--arrow-padding) + 50px));
        z-index: 1;
        background: linear-gradient(90deg, var(--main-bg) 0%, rgba(66, 66, 66, 0) 15%, rgba(66, 66, 66, 0) 85%, var(--main-bg) 100%);
    }
    /* arrow buttons no longer overlay on the posts at this size */
    .arrow-btn {
        position: relative !important;
        right: unset !important;
        left: unset !important;
    }

    .post h3{
        max-width: 205px;
    }
}

/* Laptop Size */
@media only screen and (min-width: 1024px) {
    html {
        font-size: 24px;
    }

    h1 {
        font-size: 3em;
    }

    .scroll-box::before {
        width: calc(100vw - ((var(--arrow-padding) + 40px)* 2));
        left: calc((var(--arrow-padding) + 40px));
        background: linear-gradient(90deg, var(--main-bg) 0%, rgba(66, 66, 66, 0) 10%, rgba(66, 66, 66, 0) 90%, var(--main-bg) 100%);
    }
}
/* Desktop Size */
@media only screen and (min-width: 1440px) {
    html {
        font-size: 30px;
    }

    h1 {
        font-size: 3em;
    }

    .scroll-box::before {
        width: calc(100vw - ((var(--arrow-padding) + 40px)* 2));
        left: calc((var(--arrow-padding) + 40px));
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    margin: 0.15rem;
}

pre,
code {
    border-radius: 12px;
    padding: 0.33rem;
    background-color: var(--dark-grey);
    color: var(--off-white);
    /* margin-bottom: 0.33rem; */
}

.code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    background-color: var(--near-black);
    color: var(--off-white);
}

.code::placeholder {
    color: var(--light-grey);
}

/* If links are nested in a heading remove text decorations and make its text color match parent's  */
h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    text-decoration: none;
    color: inherit;
}

/* If links in the header remove text decorations and make its text color match parent's  */
header a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 1rem;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);

    margin: 0.5rem
}

/* Remove the border with class */
.no-border {
    border: none !important;
}

button,
.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--btn-color);
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

button:active,
.button:active {
    border-style: inset;
    background-color: var(--btn-click-color);
}

button:hover,
.button:hover {
    background-color: var(--btn-hover-color);
}

.button-group {
    display: inline-flex;
    width: 100%;
}

/* Make buttons within a button group scale automatically to fill group */
.button-group button{
    flex: 1 1 0;
    height: 2rem;
    margin: 0.15rem;
    font-size: 0.75rem;
}

.hidden {
    display: none !important;
}

.loader {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--azure);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
}

/* Loading spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.post-row {
    margin-top: 1rem;
}

.post-row h2 {
    color: var(--header-text);
    margin-left: 2rem;
}

.row-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

/* Class to cause an object to match width of row  */
.fill-row{
    min-height: calc(235px + 1.5rem);
    flex: 1 1 0;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    min-width: 270px;
    min-height: 235px;
    position: relative;

    border-radius: 12px;

    background-color: var(--post-bg);
    color: var(--post-text);

    padding: 0.5rem;
    margin: 0.5rem;

    cursor: pointer;
}

.bookmark-btn {
    width: min-content;
    position: absolute;
    top: -3px;
    right: 15px;

    cursor: pointer;
}

/* Color the bookmark button paths based on if their parnet post element has the "saved" class or not */
.post.saved .bookmark-btn svg {
    fill: var(--bookmark-true);
}

.post:not(.saved) .bookmark-btn svg {
    fill: var(--bookmark-false);
}

/* customize the scroll bar to give rounded edges */
.scroll-box::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* customize scroll bar so that there is no track */
.scroll-box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

/* customize the scroll bar position indicator  */
.scroll-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #373737;
}

.scroll-box {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;

    scroll-behavior: smooth;

    overflow-x: auto;
}

.arrow-btn {
    position: absolute;
    cursor: pointer;
    transition: filter 0.2s ease;
    border-radius: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    height: 100%;
}

.arrow-btn:not(.right) {
    background: linear-gradient(270deg, rgba(66, 66, 66, 0) 0%, var(--main-bg) 100%);
    left: 0;
    padding-right: var(--arrow-padding);
}

.arrow-btn.right {
    background: linear-gradient(90deg, rgba(66, 66, 66, 0) 0%, var(--main-bg) 100%);
    right: 0;
    padding-left: var(--arrow-padding);
}

/* Make the buttons brighter when hovered over */
.arrow-btn:hover svg {
    filter: brightness(150%);
}

.arrow-btn svg {
    fill: var(--arrow-btn);
    transition: filter 0.2s ease;
}

.arrow-btn.right svg {
    transform: rotate(180deg);
}

.fixed {
    position: fixed;
    z-index: 10;
}

.fixed.btm-right {
    right: 1.5rem;
    top: calc(100% - (1.5rem * 2.5));
}

.fixed.top-right {
    right: 1.5rem;
    top: 1.5rem;
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.center-text{
    text-align: center;
}

/* Make dialog elements dim the entire screen */
dialog {
    width: 101%;
    height: 101%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border: none;
    background-color: rgba(66, 66, 66, 0.25);

    opacity: 0;
    transition: opacity 0.5s;
}

dialog[open] {
    opacity: 1;
}

/* Center the first child of an open dialog element if it is a div */
dialog[open]>div:first-child {
    left: 1.5rem;
    right: 1.5rem;
    min-height: 25%;
    position: absolute;
    z-index: 2;
    margin: 1.5rem;
}

/* Color a button red */
.btn-red{
    --btn-color: var(--salmon-2);
    --btn-hover-color: var(--salmon);
    --btn-click-color: var(--btn-hover-color);
    color: var(--log-btn-text);
}

/* Color a button green  */
.btn-green {
    --btn-color: var(--lightGreen);
    --btn-hover-color: var(--lightGreen-2);
    --btn-click-color: var(--btn-hover-color);
    color: var(--log-btn-text);
}

.log-btn {
    --btn-color: var(--log-btn);
    --btn-hover-color: var(--log-btn-hover);
    --btn-click-color: var(--btn-hover-color);
    color: var(--log-btn-text);
}

/* Color and position the "add new" button (transition used for animation) */
#test-modal-btn,
#new-post-btn {
    --btn-color: var(--plus-btn);
    --btn-hover-color: var(--plus-btn-hover);
    --btn-click-color: var(--btn-hover-color);
    color: var(--plus-btn-text);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: bold;

    transition: all 0.5s ease;

}

#test-modal-btn.modal-active,
#new-post-btn.modal-active {
    transform: rotate(315deg);
    right: 1.5rem;
    top: 1.5rem;
    bottom: unset;
    background-color: var(--salmon);
    transition: all 0.5s ease;
}

#placeholder {
    height: 75%;
    background-color: var(--grey-2);
    border-radius: 12px;
    border: 2px solid var(--black);
    padding: 0.33rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------- Styling for individual page elements ----------- */

#view-post {
    background-color: var(--grey-2);
    border-radius: 12px;
    border: 2px solid var(--black);
    padding: 0.33rem;
}

#view-post>pre {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0!important;
}

#view-post>pre+div>button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    --btn-color: var(--capri);
    --btn-hover-color: var(--cyan);
    --btn-click-color: var(--btn-hover-color);
    margin-top: 0!important;
}

#view-post>p {
    margin: 0.15rem;
}

#view-post *:not(:last-child){
    margin-bottom: 0.25rem;
}

#new-post {
    background-color: var(--grey-2);
    border-radius: 12px;
    border: 2px solid var(--black);
    padding: 0.33rem;
}

#new-post form{
    display: flex;
    flex-direction: column;
}

#new-post form>input{
    font-size: 1.33rem;
    font-weight: bold;
    color: var(--dark-grey);
    background-color: inherit;
    border: none;
    outline: none !important;
}

#new-post form>input::placeholder{
    color: var(--grey);
}

#new-post form>textarea {
    border-radius: 12px;
    padding: 0.33rem;
    resize: vertical;
    outline: none !important;
}

#description-input{
    background-color: var(--grey);
    color: var(--off-white);
}

#new-post>form *:not(:last-child){
    margin-bottom: 0.25rem;
}

#login {
    height: 75%;
    background-color: var(--grey-2);
    border-radius: 12px;
    border: 2px solid var(--black);
    padding: 0.33rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login h2 {
    color: var(--white);
}

#login>form {
    padding: 0.33rem;
    background-color: var(--grey);
    border-radius: 12px;
    border: 1px solid black;
}

#login>form input{
    font-size: 1rem;
    border-radius: 5px;
}

#login>form *:not(:last-child){
    margin-bottom: 0.25rem;
}